{% extends 'cafeteria/base.html' %}
{% load static %}

{% block title %} Pedido Salvo. {% endblock %}

{% block navbar %}
  {% include 'fragments/navbar.html' %}                  
{% endblock %} 

{% block banner %} {% endblock %}

 {% block action %}<meta http-equiv="refresh" content="5">{% endblock %} 

{% block content %}
    <div class="col-md-80">
        <h1 class="text-info text-center mb-5">Painel de pedidos</h1>

        
        {% for p in pedido_cliente %}
        <div class="container text-white mb-2 col-md-30">
            <div class="row col-md-40">
                <div class="col text-info">
                    PRODUTO
                </div>
                <div class="col text-info">
                    QUANTIDADE
                </div>
                <div class="col text-info">
                    VALOR
                </div>
                <div class="col text-info">
                    TOTAL PARCIAL
                </div>
            </div>
        </div>

        {% for n in pedidos %}
        {% if n.pedido_cliente_id == p.id %}
        <div class="container text-center text-white mb-2">
            <div class="row">
                <div class="col">
                    {{n.nome}}
                </div>
                <div class="col">
                    {{n.quantidade}}
                </div>
                <div class="col">
                    {{n.valor}}
                </div>
                <div class="col">
                    {{n.total}}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        
        <div class="input-group mb-1">
            <!-- <div class="form-floating">
                <input type="text" readonly class="form-control" value="{{ p.pedido_cliente.id }}">
                <label for="floatingInputGroup1">Numero pedido</label>
            </div> -->
            <div class="form-floating">
                <input type="text" readonly class="form-control" value="{{p.nome_cliente}}">
                <label for="floatingInputGroup1">Nome Cliente</label>
            </div>
            <div class="form-floating">
                <input type="text" readonly class="form-control" value="{{p.disco_pedido}}">
                <label for="floatingInputGroup1">Disco chamada</label>
            </div>
            <div class="form-floating">
                <input type="text" readonly class="form-control" value="{{p.total_geral}}">
                <label for="floatingInputGroup1">Valor</label>
            </div>
        </div>
        
        <form action="{% url 'finalizar_pedido' %}" method="get" id="send_form_id">
            <div class="form-check">
                <input class="form-check-input" type = "hidden" id = "finalizar_pedido_id{{p.id}}" name = "finalizar_pedido{{p.id}}" value="false"> 
                <!-- <label class="form-check-label text-white" for = "finalizar_pedido_id"> Selecionar para finalizar </label> -->
            </div>
            
            
            <div class="align-items-center">
                <div class="input-group mb-5">
                    <button class="btn btn-outline-secondary" type="button" id="bt_salvar{{p.id}}">Finalizar Pedido</button>
                </div>
            </div>
            
            <script>
                var button = document.querySelector('#bt_salvar{{p.id}}')
                
                button.onclick = function() {
                    console.log('Renato')
                    document.querySelector('#finalizar_pedido_id{{p.id}}').value = 'true'
                    document.querySelector('#send_form_id').submit()
                }
                </script>

{% endfor %}
        </form>
    </div>
{% endblock %}